body{
    margin : 0 auto;
    padding : 0pt;
    width:70%;
    text-align: left;
    line-height: 1.5;
    display: block;
    font-family: 'Yeon Sung', cursive;
}

   

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

body a:link,
body a:visited,
body a:active
{
    text-decoration: none;
    color : black;
}
